//	***
//	Cores

//		...
//		Tons de cinza
		@gray: 					#5b6b6f;
			@gray-lighter:		#f0f4f4;
			@gray-light:		#aeb1b1;
			@gray-dark:			#3b4b50;
			@gray-darker:		#303d42;

//		...
//		Umblerito
		@umblerito: 			#c5d5d5;
			@umblerito-light:	@gray-lighter;
			@umblerito-dark:	#414042;
			
//		...
//		Primaria
		@primary: 				#5a7a9a;
			@primary-lighter:	#e1e9f0;
			@primary-light:		#a4b8c8;
			@primary-dark:		#47607a;
			@primary-darker:	#2b3a4a;
			
//		...
//		Sucesso
		@success: 				#8bbb74;
			@success-lighter:	#e5eede;
			@success-light:		#bbd5ad;
			@success-dark:		#6a934d;
			@success-darker:	#334b25;
			
//		...
//		Atencao
		@warning: 				#fbb980;
			@warning-lighter:	#f9ebdd;
			@warning-light:		#fedec0;
			@warning-dark:		#e25c26;
			@warning-darker:	#9c4421;
			
//		...
//		Perigo
		@danger: 				#d75b49;
			@danger-lighter:	#f3d0cb;
			@danger-light:		#e7998f;
			@danger-dark:		#ee974c;
			@danger-darker:		#b8783e;
			
//		...
//		Importante
		@important: 			#f48051;
			@important-lighter:	#fbe6de;
			@important-light:	#fab699;
			@important-dark:	#e25c26;
			@important-darker:	#9c4421;
			
//		...
//		Secao 02 - Email exchange
		@section02: 			#b17792;
			@section02-lighter:	#efd6e9;
			@section02-light:	#d0a7be;
			@section02-dark:	#924766;
			@section02-darker:	#73183b;
			
//		...
//		Cor do texto
		@text-color: #6a7a7e;




//	***
//	Tipografia

//		...
//		Definicao das fontes
//			> Padrao
			@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');
			@font-default: 'Lato', sans-serif;

//			> Cursiva
			@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
			@font-cursive: 'Gochi Hand', cursive;

//		...
//		Dimensionamento
//			> Altura base
			@base: 16px;

//			> Proporcao base
			@ratio: 1.4;


		


	
	