@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i');
@media (max-width: 991px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .header.main .call-to-action {
    text-align: center;
  }
  #cabecalho-geral #nav-topo.nav-dinamica .navbar-brand {
    width: 40px !important;
  }
  /* .navbar-brand {
			    min-width: 55px;
			    width: auto !important;
			    overflow-x: hidden;
			} */
  #menu-opcoes-primario {
    padding-right: 80px !important;
    float: none !important;
    overflow: hidden;
  }
  #menu-opcoes-primario .btn-branco {
    float: right !important;
  }
  .busca {
    right: 50px !important;
  }
  .busca:hover input {
    width: 85% !important;
  }
  .secao {
    text-align: center !important;
    padding-bottom: 80px !important;
  }
  .secao .nome-secao {
    width: 100% !important;
    position: relative !important;
    text-align: center !important;
    float: none !important;
    margin: 0 0 50px 0 !important;
    font-size: 25px !important;
    font-weight: 300 !important;
  }
  .secao .nome-secao::after {
    display: none;
  }
  .secao .banner .titulo {
    font-size: 55px !important;
    margin-bottom: 30px !important;
  }
  .secao.crise .row div:first-child {
    padding-right: 15px !important;
  }
  .secao.crise .atuacao {
    position: relative !important;
    height: auto !important;
    background-color: #FFF !important;
    padding: 40px 0 0 0 !important;
    width: 100% !important;
  }
  .secao.crise .titulo {
    font-size: 38px !important;
    margin-top: 100px !important;
    margin-bottom: 30px !important;
  }
  .secao.servicos {
    padding-bottom: 20px !important;
  }
  .secao.servicos .servico {
    /* &:nth-of-type(1){
							&::before, &::after{
								content: "";
								position: absolute;
								background-color: inherit;
								width: 4000px;
								height: 100%;
								display: block;
								top: 0;
							}
							&::before{ right: 100%; }
							&::after{ left: 100%; }
						}
						&:nth-of-type(2){
							&::before, &::after{
								content: "";
								position: absolute;
								background-color: inherit;
								width: 4000px;
								height: 100%;
								display: block;
								top: 0;
							}
							&::before{ right: 100%; }
							&::after{ left: 100%; }
						}
						&:nth-of-type(3){
							&::before, &::after{
								content: "";
								position: absolute;
								background-color: inherit;
								width: 4000px;
								height: 100%;
								display: block;
								top: 0;
							}
							&::before{ right: 100%; }
							&::after{ left: 100%; }
						} */
  }
  .secao.servicos .titulo {
    margin-top: 80px !important;
  }
  .secao.blog .listagem-posts * {
    text-align: left !important;
  }
  .secao.sobre .titulo {
    font-size: 30px !important;
  }
  .secao.sobre .texto {
    margin: 0 0 30px 0 !important;
    padding: 0 15px;
    text-align: justify !important;
  }
  .secao.sobre .link {
    margin: 0 15px 10px 15px !important;
    float: none !important;
    display: inline-block !important;
  }
  .secao.sobre iframe {
    margin-top: 40px !important;
    margin-bottom: 60px !important;
  }
  /*.pseudotabela{
				.pseudocelula{
					display: block !important;
					width: 100% !important;
					margin-bottom: 60px;
					.link{
						float: none !important;
					}
				}
			}*/
  .show-menu {
    top: 0;
    margin-top: 0 !important;
  }
  main .back-to-top {
    display: none;
  }
  main .section {
    padding: 60px 0 60px 0;
  }
  main .section.try-it-free .call-to-action .btn,
  main .section.try-it-free .product-list li {
    width: 100%;
  }
  footer * {
    text-align: center !important;
  }
  footer .logo {
    float: none;
    display: inline-block;
    margin-bottom: 20px;
  }
  footer p,
  footer ul {
    margin-bottom: 40px;
  }
  footer li {
    display: inline-block;
    float: none;
    margin: 0 5px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .banner .titulo {
    font-size: 42px !important;
    margin-bottom: 30px !important;
  }
}
@media (max-width: 767px) {
  .busca:hover input {
    width: 75% !important;
  }
  .secao {
    /* .texto{
					text-align: justify !important;
					padding: 0 15px;
				}
				.banner .texto{
					padding: 0 30px !important;
				} */
  }
  .secao .banner .titulo {
    font-size: 42px !important;
    margin-bottom: 30px !important;
  }
  .secao.blog {
    text-align: center !important;
  }
  .secao.blog .listagem-posts * {
    text-align: left !important;
  }
  .secao.blog .btn-default {
    width: 100%;
  }
}
